body {
  text-align: center;
}

.post {
  margin-top: 11px;
}

.scoreDiv {

}

.inputArea {
  padding: 1px 1px;
  margin-bottom: 7px;
}

/*.postCard {
  text-align: left;
  padding: 1px 1px;
  margin-bottom: 4px;
}*/

/*.textArea {
  margin-right: 15px;
  display: flex;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 18px;
  padding: 9px;
  position: relative;
  bottom: 51px;
  font-size: 21px;
  box-shadow: darkgray;
  word-wrap: normal;
}*/

.arrowBtn {
  padding: 0px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.arrowBtn:hover {
  background-color: transparent;
  border-color: transparent;
}

p.text {
  /*margin-bottom: 0px;*/
}

p.createdAt {
  /*font-size: 17px;
  display: inline-block;*/
}

.right {
  /*display: inline-block;*/
}

.icon {
  margin-left: 16px;
}

.icondiv {
  display: inline-block;
  margin-top: 15px;
  float: right;
}

.post:active
.post:focus {
  outline: none;
}

.arrowBtn:hover,
.arrowBtn:focus,
.arrowBtn:active,
.arrowBtn:visited {
  outline: none;
  background-color: transparent;
  border-color: transparent;
}

@media screen and (min-width: 768px)
.postCard {
  padding-left: 30px;
  padding-right: 30px;
}

.scoreArea {
  /* display: flex; */
  position: relative;
  top: 4px;
}

.score {
  position: relative;
  left: -3px;
  width: 40px;
  text-align: center;
}

.arrow {
  position: relative;
  right: 1px;
  top: 2px;
}

.glyphicon-arrow-up:hover {
  color: orange;
}

.glyphicon-arrow-down:hover {
  color: blue;
}
blue;
}
